.portfolio {
    padding: 96px 0px;

    &__content {
        position: relative;
    }

    &__title {
        color: #ffcc00;
        font-size: 40px;
        font-weight: 700;
        position: absolute;
        width: 100%;
        text-align: center;
    }

    &__img {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5%;
        left: 0;
        right: 0;
        text-align: center;
    }

    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &IsActive {
            display: grid;
        }

    }

    &__item {
        position: relative;
        &__img {
            max-width: 100%;
            border-radius: 4px;
        }

        &__imgHover {
            max-width: 100%;
            border-radius: 4px;
            opacity: 30%;
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        padding-top: 20%;
        gap: 10px;

        @media (max-width: 768px) {
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }
    }

    &__button {

        transition: none;
        height: auto;
        width: auto;
        background-color: none;
        font-weight: 700;
        color: #f9f9f9;
        font-size: 20px;
        border: none;
        padding: 5px;
        background: none;
        text-transform: uppercase;
        cursor: pointer;
        border-bottom: 5px solid transparent;

        &:hover {
            background-color: transparent;
        }

        &IsActive {
            transition: ease .5s;
            border-bottom: 5px solid #f9f9f9;
        }

        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    &__textHover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &__title {
            font-size: 20px;
            font-weight: 700;
            color: #fff;
        }

        &__desc {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }
    }
}