@use 'variaveis' as *;
@use 'mixins' as *;
// PARAMOS NO FLEX-CENTER CHAT
// https://chat.openai.com/share/d434e2cc-f078-4432-b3ab-b1a73eb45abb

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: $corBackground;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    @include transition();
    margin-top: 24px;
    height: 48px;
    width: 160px;
    @include button-style($corSecundaria, $corBackground, 16px, bold)
}