@use 'variaveis' as *;
@use 'mixins' as *;

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: $corBackground;
}

a {
    text-decoration: none;
}

button {
    @include transition();
    margin-top: 24px;
    height: 48px;
    width: 160px;
    text-align: center;
    @include button-style($corSecundaria, $corBackground, 16px, bold);

    @include mq('sm') {
        margin-top: 8px;
        height: 32px;
        width: 96px;
        @include button-style($corSecundaria, $corBackground, 12px, bold)
    }
}