@use '../../styles/variaveis.scss' as *;
@use '../../styles/mixins.scss' as *;

.home {
    min-height: 100vh;
}

.hero {
    @include padding(200px);
    display: block;

    &__button {
        border-radius: 24px;
        
        &:first-child {
            margin-right: 16px;
        }
    }

    &__content {
        @include grid-setup(0, 100px) {
            grid-template-columns: 2fr 1fr
        }
    }

    &__title {
        @include textStyle($corSecundaria, 40px, bold);
        width: 100%;

        &__Highlight {
        color: $corPrincipal;
        }
    }

    &__img {
        margin-left: 10%;
    }
}