@use '../../styles/variaveis.scss' as *;
@use '../../styles/mixins.scss' as *;

.header {
    @include flex-center();
    align-items: center;
    height: 50px;
    @include padding(30px, 0px, 30px);

    &__logo {
        @include textStyle($corSecundaria, 24px, bold);
        cursor: pointer;
    }

    &__item {
        display: inline-block;
        font-size: 18px;
        margin-right: 16px;

        &:last-child {
            margin-right: 0px;
        }
    }
    
    &__link {
        @include transition();
        color: $corDescricao;

        &:hover {
            color: $corPrincipal;
        }
    }


}

