.skills {

    &__content {
        padding: 24px 148px 48px 148px;
        // background-color: #151515;
        // border: 2px solid #1f1f1f;
        // border-radius: 24px;
        display: block;
    }

    &__case {
        height: 128px;
        width: 128px;
        display: block;
        align-items: center;
        text-align: center;
    }

    &__title {
        color: #ffcc00;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 32px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 28px;
    }

    &__item {
        display: block;
    }

    &__text {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        display: block;
        margin-top: 6px;
    }

    &__img {
        text-align: center;
        margin-top: 24px;
    }
}