@use '../../styles/variaveis.scss' as *;
@use '../../styles/mixins.scss' as *;

.skills {

    &__content {
        @include padding(24px, 148px, 48px, 148px);
        display: block;
    }

    &__case {
        height: 128px;
        width: 128px;
        display: block;
        align-items: center;
        text-align: center;
    }

    &__title {
        @include textStyle($corPrincipal, 40px, 700, true);
        margin-bottom: 32px;
    }

    &__list {
        @include grid-setup(6, 28px);
    }

    &__item {
        display: block;
    }

    &__text {
        @include textStyle($corSecundaria, 16px, 400);
        display: block;
        margin-top: 6px;
    }

    &__img {
        text-align: center;
        margin-top: 24px;
    }
}